
<div id="shopify-section-template--18137956417705__image_with_content_v4_hkfycx" class="shopify-section"><style>
  .image_content_v4_template--18137956417705__image_with_content_v4_hkfycx {
    background-color: ;
  }

  .image_content_v4_template--18137956417705__image_with_content_v4_hkfycx .image_content_v4_main.row {
    flex-direction: row;
  }

  .image_content_v4_template--18137956417705__image_with_content_v4_hkfycx .image_content_v4_main.row-reverse {
    flex-direction: row-reverse;
  }


  @media only screen and (max-width: 768px) {

    .image_content_v4_template--18137956417705__image_with_content_v4_hkfycx .image_content_v4_main.column {
      flex-direction: column;
    }

    .image_content_v4_template--18137956417705__image_with_content_v4_hkfycx .image_content_v4_main.column-reverse {
      flex-direction: column-reverse;
    }
  }

  .image_content_v4_section .page__width {
    max-width: 1330px;
    margin: 94px auto 27px;
    padding: 0 4rem;
  }
  
  .comfort_promise .page__width{
    margin: 7rem auto;
  }

  .image_content_v4_section.comfort_promise .page__width {
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(18, 18, 18, 0.4);
  }

  .image_content_v4_section .image_content_v4_inner {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .image_content_v4_section.comfort_promise .image_content_v4_inner {
    gap: 10px;
  }

  .pdp-content-v4.image_content_v4_section .image_content_v4_inner {
    gap: 63px;
  }

  .image_content_v4_section .image_content_v4_main {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }

  .pdp-content-v4.image_content_v4_section .image_content_v4_main {
    justify-content: space-between;
  }

  .image_content_v4_section.comfort_promise .image_content_v4_main {
    gap: 10px;
  }

  .image_content_v4_main .content_v4 {
    width: calc(50.0% - 41px);
    max-width: 100%;
  }

  .pdp-content-v4 .image_content_v4_main .content_v4 {
    width: calc(40% - 60px);
    /* width: calc(60% - 60px); */
    padding: 0 0 0 26px;
  }

  .comfort_promise .image_content_v4_main .content_v4 {
    width: calc(50.0% - 10px);
  }

  .comfort_promise .content_v4 .heading {
    max-width: 370px;
    width: 100%;
  }

  .content_v4 .heading h2 {
    color: #3D4246;
    font-size: 3rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  .pdp-content-v4 .content_v4 .heading h2 {
    color: #000;
  }

  .content_v4 .description {
    padding-top: 28px;
  }
  .comfort_promise .content_v4 .description {
    padding-top: 18px;
  }

  .pdp-content-v4 .content_v4 .description {
    padding-top: 20px;
  }

  .content_v4 .description p {
    color: #3D4246;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 28px;
    margin: 0;
    line-height: 28.8px;
  }
   .comfort_promise .content_v4 .description p {
    line-height:32.4px;
    padding: 0 0 18px;
  }

  .content_v4 .description p:last-child {
    padding: 0;
  }

  .content_v4 .description strong {
    font-weight: 700;
  }

  .image_content_v4_main .image {
    width: calc(50.0% - 41px);
    max-width: 100%;
  }
 
  .pdp-content-v4 .image_content_v4_main .image, .image_content_v4_main .audi_video {
    width: calc(62% - 50px);
  }
  
  .image_content_v4_main .audi_video video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .comfort_promise .image_content_v4_main .image {
    width: calc(50.0% - 10px);
    aspect-ratio: 1/1;
  }

  .image_content_v4_main .image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
  }

  .pdp-content-v4 .image_content_v4_main .image img {
    border-radius: 8px;
  }

  .comfort_promise .image_content_v4_main .image img {
    object-fit: contain;
  }

  .image_content_v4_section .svg_code {
    width: 100%;
    margin: 7rem auto;
  }
 
  .image_content_v4_section .svg_code svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
  }
  .content_v4 .custom_html span{
    display:flex;
    gap:20px;
    align-items:center;
     color: #3D4246;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 28px;
    margin: 0;
    line-height: 28.8px;
  }
   .content_v4 .custom_html svg{
     width:40px;
     height: 40px;
     object-fit:contain;
     background-color: #2f9cd9;
     border-radius: 40px;
   }

  @media only screen and (max-width: 768px) {

    .image_content_v4_section .page__width {
      padding: 0;
      margin: 0;
    }

    .image_content_v4_section .image_content_v4_inner {
      gap: 32px;
    }

    .image_content_v4_main .content_v4 {
      width: 100%!important;
      padding: 0 1rem!important;
    }

    .tex_standard_inner .content_v4 .description {
      padding-top: 16px;
    }

    .content_v4 .heading h2 {
      font-size: 2.2rem;
    }
    
    .comfort_promise .heading h2{
      font-size: 2.1rem;
    }
    
    .pdp-content-v4 .content_v4 .description {
      padding-top: 16px;
    }

    .content_v4 .description p {
      font-size: 16px;
    }

    .image_content_v4_main .image {
      width: calc(100.0% - 30px);
    }

    .comfort_promise .image_content_v4_main .image {
      width: calc(100.0% - 10px);
    }

    .pdp-content-v4 .image_content_v4_main .image, .image_content_v4_main .audi_video {
      width: 100%;
    }

    .image_content_v4_main .image img {
      border-radius: 0px;
    }
  }
</style>



<div class="image_content_v4_section image_content_v4_template--18137956417705__image_with_content_v4_hkfycx pdp-content-v4">
  <div class="page__width">
    <div class="image_content_v4_inner">
      
        <div class="image_content_v4_main  row 
           column-reverse ">
          <div class="content_v4">
            
              <div class="heading">
                <h2>   {{ section.settings.heading }}</h2>
              </div>
            
            
            
              <div class="description">
                {{ section.settings.content }}
              </div>
            
            
          </div>
  
    <div class="image">
      <img src="{{ section.settings.image | img_url: 'master' }}">
    </div>
  
 
        </div>
      
  
    </div>
    
  </div>
</div>


</div>


{% schema %}
{
  "name": "Right Image With Text",
  "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
         {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default":"Like A Big Colourful Hug"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default":"<p>Ready for the cutest designs you’ll ever lay your eyes on? Oodie prints are fun, adorable and designed to make you laugh. With dozens of bright and cheerful designs to choose from like Koala, Avocado &amp; Toast and plain colours like Black and Grey, you’re sure to find the perfect Oodie print for you or someone you love.</p>"
        }
  ],
  "presets": [
    {
      "name": " Right Image With Text"
    }
  ]
}

{% endschema %}